<%#= Home Page with Sign in and Sign up only %>
<section>
  <% unless user_signed_in? %>
    <h1>HOME PAGE</h1>
    <div>
      <%= link_to "Sign-up", new_user_registration_path %>
      <br>
      <%= link_to "Log-in", new_user_session_path %>
    </div>
  <% end %>
</section>

<%#= Home page of user after sign-in  %>
<section>
  <% if user_signed_in? %>
    <h1>Stock Trading</h1>
    <h2>Profile</h2>
    <p> <%= link_to "My Portfolio", portfolio_display_path %> </p>
    <p> <%= link_to "Marketplace", marketplace_display_path %> </p>
    <p>User: <%= current_user.email %> </p>
    <p>Balance: <%= current_user.balance %> </p>
    <p>Status: <%= current_user.status %> </p>
    <div>
      <%= link_to "Log-out", destroy_user_session_path, data: {
        "turbo-method": :delete,
        "turbor-confirm": "Continue" }
      %>
    </div>
  <% end %>
</section>
