<div>
  <% @stocks.each do |stock| %>
    <p>Company: <%= stock.company_name %> - <span> <%= stock.symbol %> </span>  </p>
    <p>Price: <%= stock.latest_price %> </p>
    <p>Shares: <%= stock.quantity %> </p>
    <br>
    <%= link_to "View", show_stock_path(symbol: stock.symbol) %>
  <% end %>
</div>
<br/>
<br/>
<%= link_to "Back", root_path %>