<div>
  <p><%= @stock.company_name%> - <span> <%= @stock.symbol %> </span></p>
  <p>Price: <%= @stock.latest_price %> </p>
  <p>Shares: <%= @stock.quantity %> </p>
  <p>Balance: <%= @balance %> </p>
</div>

<div>

  <div>
   <%= form_with model: [@stock, @order] do |f| %>
      <%= f.hidden_field :order_type, value: "buy" %>

      <div>
        <%= f.number_field :quantity, step: :any %>
      </div>

      <div>
        <%= f.submit "Buy" %>
      </div>
    <% end %>
  </div>
  <br/>
  <div>
    <%= form_with model: [@stock, @order] do |f| %>
      <%= f.hidden_field :order_type, value:"sell"  %>

      <div>
        <%= f.number_field :quantity, step: :any %>
      </div>

      <div>
        <%= f.submit "Sell" %>
      </div>
    <% end %>
  </div>
</div>
<br/>


<%= link_to "back", portfolio_display_path %>