<%= form_with model: [:admin, @user] do |form| %>
  <div>
    <%= form.label :balance %>
    <br>
    <%= form.number_field :balance %>
  </div>
  <br>
  <div>
    <%= form.label :role %>
    <br>
    <%= form.text_field :role %>
  </div>
  <br>
  <div>
    <%= form.label :approved %>
    <%= form.check_box :approved %>
  </div>
  <br>
  <div>
    <%= form.submit %>
  </div>
  <br>
<% end %>
