<section>
  <div>
    <p>User: <%= @user.email %> </p>
    <p>Balance <%= @user.balance %> </p>
    <p>Role: <%= @user.role %> </p>
    <p>Approved: <%= @user.approved %> </p>
  </div>
  <br>
  <%= link_to "Edit", edit_admin_user_path(@user) %>
  <br>
  <%= link_to "Delete", admin_user_path(@user), data: {
    "turbo-method": :delete,
    "turbo-confirm": "Continue" } 
  %>
  <br>
  <%= link_to "Back", admin_users_path %>

</section>